 <link rel="stylesheet" href="/css/leave-approve.css" type="text/css">
 <div id="Details">
    <h3>Leave Approve</h3>
    <table style="width:100%">
      <tr>
        <th>Emp. Id</th>
        <th>Leave Type</th>
        <th>From Date</th>
        <th>To Date</th> 
        <th>Requested Days</th>
        <th>Current Status</th>
        <th>Comments</th>
        <th>Update</th>
      </tr>
      <tr>
        <% for(var i=0; i < data.length; i++) { %>
      <td><%=data[i].employeeid%></td>
        <td><%=data[i].leavetype%></td>
        <td><%=data[i].startdate.toLocaleDateString()%></td>
        <td><%=data[i].enddate.toLocaleDateString()%></td>
        <td>1</td>
        <td><select>
          <option value="0">Pending</option>
          <option value="1">Accept</option>
          <option value="2">Reject</option>
          </select></td><td><input type="text" placeholder="write your comments and update" value="<%=data[i].message%>" class="form-control" /></td>
        <td> <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModalUpdate"><a href="/accept-leave/<%=data[i]._id%>">Accept</a></button><button type="button" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#myModalDelete">Reject</button></td>
      </tr>
      <% } %>  
    </table>
  </div>
  
</body>