<body>
    <%- include( '../public/nav/manager_sidebar.ejs'); %>
        <div id="maincontent">
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <h3>Recent activity</h3>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>End Date</th>
                                        <th>Assigned to </th>
                                        <th>Team</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td>  <%= data[i].task%></td>
                                        <td>  <%= data[i].date.toLocaleDateString() %></td>
                                        <td><%= names[i][0].name %></td>
                                        <td class="td-team">
                                            <div class="img-1" style="background-image: url('/<%= names[i][0]._id%>/photos/view')"/></div>
                                        </td>
                                        <td>
                                            <span <%if (data[i].status==0) { %>  class= "badge-danger"> <% } %>  <%if (data[i].status==1) { %>  class= "badge-warning"> <% } %>   <%if (data[i].status==2) { %>  class= "badge-success"> <% } %>      <%if (data[i].status==0) { %> Pending <% } %>  <%if (data[i].status==1) { %> In review <% } %>  <%if (data[i].status==2) { %> <a class="submissions" href="/rest/submissions/<%=data[i]._id%>" onclick="viewSubmission()">view Submission</a> <% } %> </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="summary">
                        <div class="summary-card">
                            <div class="summary-single">
                                <span class="ti-id-badge"></span>
                                <div>
                                    <h5>3</h5>
                                    <small>Number of staff</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-calendar"></span>
                                <div>
                                    <h5>1</h5>
                                    <small>Leave Request</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-face-smile"></span>
                                <div>
                                    <h5>1</h5>
                                    <small>Pending submisssions</small>
                                </div>
                            </div>
                        </div>
                        <% if(locals.notifications){ %>
                        <div class="bday-card" id="notify-tray">
                            <div class="bday-flex">
                                <div class="bday-img" style="background-image: url('https://www.pikpng.com/pngl/b/199-1993279_updates-notification-icon-png-vector-clipart.png');"></div>
                                <div class="bday-info">
                                    <h5>Updates</h5>
                                    <small><%=notifications.message%></small>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <button>                   
                                 <a href="/dismissnotify?id=<%=notifications._id%>" style="color:white" id="dismissnotify" onclick="dismiss(this)"> Dismiss</a>
                                </button>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </section>
            
        </main>
   </div>        
    </div>

</body>
</html>

<script>
function dismiss(e)
{
    var link=$("#dismissnotify").attr('href');
    event.preventDefault();
        $.ajax({
            type: "GET",
            url: link,
            success: function(data){
                //console.log("data:",data)
                $("#notify-tray").html("");
            }
        });

}

function viewSubmission(e)
{
    var link=$(".submissions").attr('href');
    $("main").html("<p> Loading...</p>")
    event.preventDefault();
        $.ajax({
            type: "GET",
            url: link,
            success: function(data){
               $("main").html(data)
            }
        });

}
</script>
